#plane-chat {
  background: #fdfdfd;
  color: #313131;
  width: 300px;
  max-width: 100%;
  padding: 15px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px #212121;
  box-shadow: 0px 0px 10px #212121;
  position: fixed;
  bottom: 0;
  right: 0; }

#plane-chat input {
  margin: 10px auto;
  width: 91%;
  display: block; }

#chatlines {
  overflow-y: scroll;
  height: 300px; }

h2 {
  text-shadow: 0px 1px 4px rgba(0,0,0,0.3);
}

.account-text {
  padding-left: 40px;
  font-size: 24px;
  padding-bottom: 20px;
}

.close-chat-btn {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  cursor: pointer; }

.closed-chat #chatlines {
  display: none; }

.closed-chat input {
  margin: 0 auto; }

.after-login {
  display: none;
  position: relative; }

#game {
  margin: 0 auto;
}

#map_canvas {
  width: 95%;
  height: 300px;
  margin: 10px auto;
  padding: 0;
  display: block;
  border: 0;
  position: relative; }

.modal-body {
  max-height: 800px;
  margin-top: -30px;
  top: 10px; }

#chart {
  display: block;
  width: 100%;
  height: 300px; }

.tabs {
  width: 95%;
  margin: 0px auto;
  background: #2b2d30;
  /* Old browsers */
  background: -moz-linear-gradient(top, #2b2d30 0%, black 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2d30), color-stop(100%, black));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2b2d30 0%, black 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #2b2d30 0%, black 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #2b2d30 0%, black 100%);
  /* IE10+ */
  background: linear, to bottom, #2b2d30 0%, black 100%;
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b2d30', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  border-radius: 4px;
  border-top: 1px solid #888;
  -webkit-box-shadow: inset 0px 0px 1px #777777;
  box-shadow: inset 0px 0px 1px #777777; }
  .tabs li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 33%;
    margin: 0 -2px;
    padding: 7px 4px;
    text-align: center;
    color: #959595;
    cursor: pointer; }
    .tabs li:hover {
      color: #fff; }

#dashboard {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 95%;
  margin: 0px auto;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.95);
  color: #313131;
  padding: 15px; }
