#plane-chat {
  background: #fdfdfd;
  color: #313131;
  width: 300px;
  max-width: 100%;
  padding: 15px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px #212121;
  box-shadow: 0px 0px 10px #212121;
  position: fixed;
  bottom: 0;
  right: 0; }
  #plane-chat input {
    margin: 10px auto;
    width: 91%;
    display: block; }

#chatlines {
  overflow-y: scroll;
  height: 300px; }

.close-chat-btn {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  cursor: pointer; }

.closed-chat #chatlines {
  display: none; }
.closed-chat input {
  margin: 0 auto; }

.after-login {
  display: none; }

#map_canvas {
  width: 95%;
  height: 300px;
  margin: 10px auto;
  padding: 0;
  display: block;
  border: 0; }

#game_div {
  display: block;
  background: red;
  width: 399px;
  height: 600px;
  margin: 0 auto; }

#snake-board {
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.modal-body {
  max-height: 800px;
  margin-top: -30px;
  top: 10px; }
